<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
	<div class="new_distance"><div class=""><h3><%= f.label :name ,"Sign up"%></h3></div></div><br>
  </div>

  
  <div class="row">
    <div class="new_distance"><div class="medium-2 large-4 columns"><h3><%= f.label :email,"email: "%></h3></div></div><br>
    <div class="medium-2 large-8 columns "><%= f.email_field :email, :autofocus => true %></div>
  </div>


  <div class="row">
    <div class="new_distance"><div class="medium-2 large-4 columns"><h3><%= f.label :password, "password" %></h3></div></div><br>
    <div class="medium-2 large-8 columns "><%= f.password_field :password %></div>
  </div>

  <div class="row">
    <div class="new_distance"><div class="medium-2 large-4 columns"><h3><%= f.label :password_confirmation, "password_confirmation" %></h3></div></div><br>
    <div class="medium-2 large-8 columns "><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="sign_up"><%= f.submit "Sign up" , class:  "[large] button [alert success secondary] [disabled]"%></div>
<% end %>

<%= render "devise/shared/links" %>
